<% provide(:title, "Home") %>

<!-- This is where all the magic of displaying shit will happen.
A simple-ass, one-page app. -->

<h1>New Order Processing</h1>

<%= form_tag('/upload', multipart: true) do -%>
	<%= puts "In partial message form"%>
    <%=label_tag 'PDF File' %>
    <%=file_field_tag(:pdf)%>

    <%=label_tag 'Varer File' %>
    <%=file_field_tag(:varer)%>
	
    <%=label_tag 'Trans File' %>
    <%=file_field_tag(:trans)%>

    <div><%= submit_tag 'Save' %></div>
<% end -%>

Value of variables. <%= @varer  %>; <%= @pdf_file %>; <%= @varer%>

<%= params[:pdf] %>

